@import url('https://fonts.googleapis.com/css?family=Questrial|Ubuntu:400,700');

$primary-color: #12436C;
$secondary-color: #9F8435;
$primary-font: 'Ubuntu', sans-serif;
$secondary-font: 'Questrial', sans-serif;
